h1 {
  color: #2ba18a;
  font-size: 36px;
}

h2 {
  color: #2ba18a;
  font-size: 28px;
  border-bottom: 2px solid #ecf0f1;
}

h3 {
  color: #2ba18a;
  font-size: 24px;
}

h1::before,
h2::before,
h3::before {
  color: #2ba18a;
}


.header-section-number {
  color: #2ba18a;
}

h1 .header-section-number,
h2 .header-section-number,
h3 .header-section-number {
  color: #2ba18a;
}
